body{
    margin: 0;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.column {

    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.first {
    float: right;
    background-color: #fff;
    text-align: center;
    /*padding: 0px 20px;*/
}

.second {
    background-image: url("img_twipper/background@2x.png") /*no-repeat top center*/;
    background-repeat: no-repeat;
    background-size: cover;
}



.line {
    border: 1px solid #e6ecf0;
}
.username {
    height: 49px;

}

.mainbox {
    display: block;
    text-align: left;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    max-width: 440px;
    padding: 0 16px;
}

.message {
    display: inline-block;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 16px;

}

.leftsubtitle {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 48px;

}

.TopicList {
    text-align: left;
}

.TopicIcon {
    background-image: url(img_twipper/シャープアイコン1.svg);
    height: 35px;
    width: 35px;
    display: inline-block;
    font-size: 35px;
    margin-top: 8px;
    margin-right: 16px;

}

.TopicTitle {
    float: left;
}

.TopicSubtitle{
    float: left;
}